*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
p{
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color: #606060;
}
.extra-div h2 , .serviceoffer h2{
    font-size: 0.9rem;
    margin: 20px 0 15px 0;
    font-weight: bold;
    line-height: 1.1;
    word-spacing: 4px;

}
i{
    color: #e7d31f;
}
/*  */
.header{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(to right, rgba(126, 122, 113, 0.8), rgb(255, 198, 0,0.5)), url(../images/header-bg-home.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    clip-path: polygon(100% 0%,100% 75%,50% 100%,0% 75%,0 0);
    position: relative;
}

.header::before{
    content:"";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ECE772, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ECE772, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    /* background: linear-gradient(135deg, orange 40%, cyan); */
    /* background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);  */
    opacity: .3;
    z-index: -1;
}

.navbar::before{
    content:"";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ECE772, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ECE772, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    /* background: linear-gradient(135deg, orange 40%, cyan); */
    /* background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%); */
    opacity: .3;
    z-index: -1;
}


.nav-item a{
    color: white!important;
    font-weight: bold;
}

.collapse ul{
    margin-left: auto;
}

.header-section{
    width: 100%;
    height: inherit;
    color: white;
    text-align: center;
    position: relative;
}
.center-div{
    width: 100%;
    height: auto;
position: absolute;
top:50%;
left: 50%;
transform: translate(-50%,-50%);
-ms-transform: translate(-50%,-50%);
-webkit-transform: translate(-50%,-50%);
}
.header-button a{
    border: 1px solid white;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 32px;
    outline: none;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    text-decoration: none;


}

.header-button a:hover{
    background-color: white;
    color: orange;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0 , .4);
}

.center-div p{
    font-size: 1.4rem;
    padding: 10px 0 20px 0;
}

/*  */
.header-extra{
    width: 100%;
    height: auto;
    margin: 100px 0 ;
    text-align: center;
}

.extra-div{
    background: #fff;
    border: medium none;
    padding: 50px!important;
    border-radius: 3px;
    transition: .3s;
}

.extra-div:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0 , .4);
    transform: translateY(-20px);
}

/*  */

.serviceoffer{
    background-color: rgb(250, 250, 250);
    padding: 50px 0;
    margin-bottom: 50px;
}
.headings{
    margin-bottom: 50px ;
}
.headings h1{
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
}
.names h1{
    color: #2e2e2e;
    font-size: 0.9rem;
    text-transform: capitalize;
    font-weight: bold;
}

.service-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress{
    height: 0.5rem!important;
}